body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #ffffcc; /* Yellow-ish background color */
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  color: #fff;
  background-color: #007BFF; /* Blue button color */
  border: 1px solid #007BFF;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.btn-logout {
  background-color: #FF0000; /* Red logout button */
  border: 1px solid #FF0000;
}

.btn-logout:hover {
  background-color: #b30000; /* Darker red on hover */
}
